* {
    color: #353535;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.object {
    border: 1px solid black;
    color: black;
    font-size: 18px;
}

canvas {
    width: 250px;
    height: 400px;
}

input {
    max-width: 100px;
    padding: 5px;
    max-height: 20px;
    margin: 5px 0;
    border-radius: 2px;
    border: 1px solid #353535;

    &:focus {
        outline: none;
        border: 2px solid #3C6E71;
    }
}

.btn {
    height: 50px;
    color: #284B63;
    border: 1px solid #3C6E71;
    background-color: #FFF;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;

    &:hover {
        background-color: #284B6395;
        border: 1px solid #353535;
        color: #FFF;
        box-shadow: 0 2px 2px -2px #ccc, 0 4px 4px 1px #ccc, 0 2px 4px 1px #ccc;
    }
}

.obj-container {
/*     display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
/*     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 120px);
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box-outline {
    padding: 20px 15px;
    background-color: #f8f9fa20;
    border: 1px dashed #284B6350;
    border-radius: 2px;
}

.config-container {
    display: grid;
    width: fit-content;
    padding: 20px 15px;
    grid-row: span 2 / span 2;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 40px 25px 50px;
    gap: 10px 20px;
    justify-items: center;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    h2 {
        padding: 0;
        margin: 0;
        grid-column: span 3;
        color: #284B63;
        justify-self: flex-start;
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 768px) {
            text-align: center;
            grid-column: span 2 / span 2;
        }
    }

    label {
        align-self: flex-end;
        color: #353535;

        @media (max-width: 768px) {
            align-self: baseline;
        }
    }



    #objWeight {
        grid-row-start: 3;
    }

    #objValue {
        grid-row-start: 3;
    }

    #objColor {
        grid-row-start: 3;
        padding: 0;
        width: 100%;
        height: 100%;
        max-height: 30px;
        /* Para q no salga el input con el borde */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 1px solid #353535;
        border-radius: 2px;
        cursor: pointer;

        /* Elimina el padding y establece border-radius
            en distintos navegadores para q no salga tan feo el input */
        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border: 0;
            border-radius: 2px;
        }

        &::-moz-color-swatch {
            border: 0;
            border-radius: 2px;
        }
    }

    button {
        width: 50px;
        grid-row: span 3 / span 3;
        grid-row-start: 1;
        grid-column-start: 4;
        align-self: center;
        font-size: 24px;
    }
}

.obj-canvas-container {
/*     max-width: 440px;
 */
    grid-row: span 4 / span 4;
    max-width: 260px;
    h3 {
        padding: 0;
        margin: 0;
        grid-column: span 3;
        color: #284B63;
        justify-self: flex-start;
        font-size: 24px;
        font-weight: 500;
    }
}

.backpack-container {
/*     display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 80px);
    gap: 20px;

    canvas {
        grid-row: span 3;
        grid-column-start: 2;
    }

    label {
        grid-row-start: 1;
        align-self: flex-end;
    }

    button {
        grid-column: span 2;
    } */
    padding: 20px 55px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    justify-content: space-between;
    grid-row-start: 3;

    label {
        justify-self: flex-end;
    }

    .backpack-input {
        display: flex;
        flex-direction: column;
    }
}

.final-results-container {
    opacity: 1;
    grid-row-start: 4;
    transition: all .5s ease-in;

    &.hidden {
        opacity: 0;
    }    
}

table {
    width: 100%;
    height: auto;
    border: 1px dashed #284B6380;
}

th {
    padding: 5px 10px;
    color: #284B63;
    background-color: #284B6320;
    font-size: 20px;
    font-weight: 500;
}

th, td {
    border: 1px solid #284B6340;
    text-align: center;
    padding: 5px 10px;
    transition: background-color .2s ease-in-out;
}

.selected {
    background-color: #3C6E7110;

    td {
        color: #284B63;
        font-weight: bold;
    }
}